<!DOCTYPE html>
<html lang='en'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JenkinsLight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Blurb Jenkins</a>
        <div class="row search-form">
          <%= form_tag("/search", method: "get") do %>
            <div class="form-group">
              <%= text_field_tag :pipeline, "", class: "form-control", placeholder: "Search Name here..."%>
              <%= button_tag class: "btn btn-sm btn-primary" do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <div class="container bs-docs-container">
    <div class="container">
    </div>
    <%= yield %>
  </div>
</body>
</html>
